h2 {
  font-size: 20px;
  color: rgb(196, 220, 255);
  text-align: left;
}

img {
  width: 120px;
}

.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto 1fr;
  gap: 0.5em;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5"
    "box-6 box-6 box-5 box-5";
  margin-top: 0.5em;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.1);
  padding: 0.5em;
  transition: transform ease-in-out 0.5s;
}

.grid-item:hover {
  transform: scale(1.01);
}

.bio-card p {
  text-align: left;
  line-height: 1.6;
  font-size: 1em;
}

.bold-style {
  color: rgb(196, 220, 255);
  font-weight: 600;
}

.italic-style {
  font-style: italic;
}

.hook-card {
  align-content: center;
}

.tech-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.html-icon {
  color: rgb(227, 76, 38);
}

.css-icon {
  color: rgb(103, 44, 202);
}

.js-icon {
  color: rgb(220, 201, 73);
}

.react-icon {
  color: rgb(0, 216, 255);
}

.figma-icon {
  color: rgb(0, 207, 131);
}

.status-dot {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 207, 131);
  border-radius: 50%;
}

.projects-preview {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-btn {
  color: rgb(196, 220, 255);
  cursor: pointer;
}

.code-btn i {
  padding: 0 0.5em;
}

.project-img img {
  width: 100%;
  border-radius: 15px;
}

.project-tabs {
  height: 20px;
  /* border: 1px solid blue; */
}

.project-btn {
  font-family: "Inter", sans-serif;
  /* width: 50px;
  height: 25px; */
  border-radius: 10px;
  padding: 1em;
  margin-left: 0.5em;
  border: unset;
  background-color: rgb(196, 220, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container div {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-info p {
  margin-top: 5px;
}

.project-btn a {
  color: rgb(196, 220, 255);
  padding-right: 0.5em;
}

.contact-card {
  color: black;
  background-color: rgb(196, 220, 255);
}

.contact-container {
  display: flex;
}

.contact-links {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.contact-links i {
  padding: 0.5em;
}

.contact-links a {
  color: unset;
}
