h2 {
  font-size: 20px;
  color: rgb(196, 220, 255);
  text-align: left;
}

img {
  width: 120px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
  grid-template-areas:
    "box-2"
    "box-1"
    "box-3"
    "box-4"
    "box-5"
    "box-6";
  margin: 0.5em 0 1em 0;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.1);
  padding: 0.8em;
  transition: transform ease-in-out 0.5s;
}

.grid-item:hover {
  transform: scale(1.01);
}

.bio-card p {
  text-align: left;
  line-height: 1.6;
}

.bold-style {
  color: rgb(196, 220, 255);
  font-weight: 600;
}

.tech-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.tech-card h3 {
  padding: 0.5em;
}

.tech-stack1,
.tech-stack2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
}

.html-icon {
  color: rgb(227, 76, 38);
}

.css-icon {
  color: rgb(103, 44, 202);
}

.js-icon {
  color: rgb(220, 201, 73);
}

.react-icon {
  color: rgb(0, 216, 255);
}

.figma-icon {
  color: rgb(0, 207, 131);
}

.status-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.status-update {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3em;
  margin-right: 0.5em;
}

.status-dot,
.active-pulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-dot {
  position: relative;
  background-color: rgb(0, 207, 131);
  box-shadow: 0 0 5px rgb(0, 207, 131, 0.8);
  z-index: 1;
  margin-right: 0.5em;
}

.active-pulse {
  position: absolute;
  border: 1px solid rgb(0, 207, 131);
  top: 0;
  animation: pulse-ring 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  80%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.cta {
  background-color: rgba(34, 197, 94, 0.1);
  width: 100px;
  border-radius: 15px;
  padding: 0.5em;
  text-align: center;
}

.open-cta {
  color: rgb(0, 207, 131);
  font-weight: 800;
}

.current-time {
  color: rgb(196, 220, 255);
  font-weight: 600;
}

.country-time {
  font-size: 0.6em;
  color: grey;
}

.contact-card {
  color: black;
  background-color: rgb(196, 220, 255);
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.contact-links i {
  padding: 0.5em;
}

.contact-links a {
  color: unset;
}

.contact-icons {
  margin-top: 0.5em;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
    grid-template-areas:
      "box-1 box-2 box-2 box-3"
      "box-1 box-4 box-5 box-5"
      "box-6 box-6 box-5 box-5";
    margin-top: 0.5em;
  }

  .status-container {
    flex-direction: column;
  }

  .cta {
    width: 100%;
  }

  .contact-container {
    flex-direction: row;
  }
}

.projects-container {
  margin: 1em 0;
}

.project-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-links i {
  color: rgb(196, 220, 255);
  margin-right: 0.5em;
}

.project-skill {
  color: #a1a1aa;
  font-size: 0.75em;
}

.project-description {
  font-size: 0.85em;
  color: #d4d4d8;
}
